# Serveur
PORT=
NODE_ENV=

#JWT
JWT_REFRESH_SECRET=
JWT_SECRET=

# Base de données 
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Gmail SMTP
GMAIL_USER=
GMAIL_PASS=

# Admin
ADMIN_EMAIL=

#googel sign up 
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=